<template>
  <div class="container">
    <div class="row mt-5" v-if="$gate.isAdmin()">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Users Table</h3>

            <div class="card-tools">
              <button class="btn btn-success" @click="newModal">Add New <i class="fas fa-user-plus fa-fw"></i></button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Level</th>
                  <th>Registered At</th>
                  <th>Activated</th>
                  <th>Expired At</th>
                  <th>Days Left</th>
                  <th>Modify</th>
                </tr>

                <tr v-for="user in users.data" :key="user.id">
                  <td>{{user.id}}</td>
                  <td>{{user.name}}</td>
                  <td>{{user.phone}}</td>
                  <td>{{user.level | upText}}</td>
                  <td>{{user.created_at | myDate}}</td>
                  <td>{{user.isActive}}</td>
                  <td>{{user.expired_at | myDate}}</td>
                  <td>{{user.expired_at | DaysLeft}}</td>
                  <td>
                    <a href="#" @click="editModal(user)">
                      <i class="fa fa-edit blue"></i>
                    </a>
                    /
                    <a href="#" @click="reset_device(user.id)">
                      <i class="fa fa-key yellow"></i>
                    </a>
                    /
                    <a href="#" @click="deleteUser(user.id)">
                      <i class="fa fa-trash red"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <pagination :data="users" @pagination-change-page="getResults"></pagination>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>

    <div v-if="!$gate.isAdmin()">
      <not-found></not-found>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New</h5>
            <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update User's Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="editmode ? updateUser() : createUser()">
            <div class="modal-body">
              <div class="form-group">
                <input v-model="form.name" type="text" name="name" placeholder="Name" class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                <has-error :form="form" field="name"></has-error>
              </div>

              <div class="form-group">
                <input v-model="form.phone" type="text" :readonly="editmode" name="phone" placeholder="Phone Number" class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }">
                <has-error :form="form" field="phone"></has-error>
              </div>

              <div class="form-group" v-show="editmode">
                <select name="level" v-model="form.level" id="level" class="form-control" :class="{ 'is-invalid': form.errors.has('level') }">
                  <option value="">Select User Level</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <has-error :form="form" field="level"></has-error>
              </div>

              <div class="form-group" v-show="editmode">
                <select name="isActive" v-model="form.isActive" id="isActive" class="form-control" :class="{ 'is-invalid': form.errors.has('isActive') }">
                  <option value="">Select Activate User Level</option>
                  <option value="0">Tidak Aktif</option>
                  <option value="1">Aktif</option>
                </select>
                <has-error :form="form" field="isActive"></has-error>
              </div>

              <div class="form-group" v-show="editmode">
                <label>Expired Date: </label>
                <datepicker v-model="form.expired_at" name="expired_at" placeholder="Expired Date" input-class="form-control" :input-class="{ 'is-invalid': form.errors.has('expired_at') }"></datepicker>
                <has-error :form="form" field="expired_at"></has-error>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
              <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        editmode: false,
        users : {},
        form: new Form({
          id:'',
          name : '',
          phone: '',
          level: '',
          isActive: '',
          expired_at: ''
        })
      }
    },
    methods: {
      changeDate(){
       this.form.expired_at = moment(this.form.expired_at).format('YYYY-MM-DD');
      },
      getResults(page = 1) {
        axios.get('api/dtmuser?page=' + page).then(response => {
          this.users = response.data;
        });
      },
      updateUser(){
        this.$Progress.start();
        // console.log('Editing data');
        this.form.put('api/dtmuser/'+this.form.id).then(() => {
          // success
          $('#addNew').modal('hide');
          swal(
            'Updated!',
            'Information has been updated.',
            'success'
          )
          this.$Progress.finish();
          Fire.$emit('AfterCreate');
        }).catch(() => {
          this.$Progress.fail();
        });
      },
      editModal(user){
        this.editmode = true;
        this.form.reset();
        $('#addNew').modal('show');
        this.form.fill(user);
      },
      newModal(){
        this.editmode = false;
        this.form.reset();
        $('#addNew').modal('show');
      },
      deleteUser(id){
        swal({
          title: 'Delete User',
          text: "Anda yakin?",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          // Send request to the server
          if (result.value) {
            this.form.delete('api/dtmuser/'+id).then(()=>{
              swal(
                'Deleted!',
                'Your file has been deleted.',
                'success'
              )
              Fire.$emit('AfterCreate');
            }).catch(()=> {
              swal("Failed!", "There was something wrong.", "warning");
            });
          }
        })
      },
      reset_device(id){
        swal({
          title: 'Reset Device',
          text: "Anda yakin?",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, reset it!'
        }).then((result) => {
          // Send request to the server
          if (result.value) {
            this.form.post('api/reset/'+id).then(()=>{
              swal(
                'Reseted!',
                'Your device has been reset.',
                'success'
              )
            }).catch(()=> {
              swal("Failed!", "There was something wrong.", "warning");
            });
          }
        })
      },
      loadUsers(){
        if(this.$gate.isAdmin()){
          axios.get("api/dtmuser").then(({ data }) => (this.users = data));
        }
      },
      createUser(){
        this.$Progress.start();

        this.form.post('api/dtmuser').then(()=>{
          Fire.$emit('AfterCreate');
          $('#addNew').modal('hide')

          toast({
              type: 'success',
              title: 'User Created in successfully'
              })
          this.$Progress.finish();
        }).catch(()=>{

        })
      },
      daysLeft(date){
        let date1 = new Date();
        let date2 = new Date(date);
        console.log(date1, date2);
        if(date2 < date1){
          return '-';
        } else {
          let timeDiff = Math.abs(date2.getTime() - date1.getTime());
          let diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
          return diffDays + ' Hari';
        }
      }
    },
    created() {
      this.loadUsers();
      Fire.$on('AfterCreate',() => {
        this.loadUsers();
      });
    }
  }
</script>
